.my {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
    background: #000000;
}
h2{
    font-size: 40px;
    color:darkkhaki;
    padding: 10px;
}

p{
    font-size: 20px;
}

.container {
    border: 2px solid;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    background-color: #aaaaaa;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

